{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="home_background"></div>
<div class="home_cover">
    <div class="body_cover">
        <h1 class="home_title">수어 번역 서비스</h1>
        <p class="home_text">딥러닝 및 자연어처리(NLP) 기반 청각장애인 위한 수어(수화) 번역 서비스</p>
        <img class="home_img" src="/static/image/homeimg.png" alt="홈이미지">
        <div class="home_text">수어는 음성 대신 손의 움직임을 포함한 신체적 신호를 이용하여 의사를 전달하는 시각 언어로</div>
        <div class="home_text">수화라는 방법으로 구사되는 언어 체계입니다.</div>
        <div class="home_btn_wrapper">
            <button class="home_btn_link" onclick="location.href='/selfchatgpt/'"> 텍스트 번역 서비스 </button>
            <button class="home_btn_link" onclick="location.href='/signlanguagetochatgpt/'"> 수어 번역 서비스 </button> 
        </div>
    </div>
</div>

{% endblock %}