{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'selfgpt/chatgpt.css' %}">
<form action="chat" method="post" entype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div id="file-module-0">
        <div class ='titlebackground'>
            <header>텍스트 번역 서비스</header><br>
        </div>
        <label>Chat GPT 기반 텍스트 번역 서비스 입니다. 텍스트를 입력하여 chat gpt에게 질문하세요.</label><br>
        <textarea id="question" name="question" placeholder = '텍스트를 입력하세요.'></textarea>
    </div>
    <div><button id="text-button" type="submit" >질문하기</button></div>
    <textarea id="answer" name="answer"></textarea>

</form>
{% endblock %}