<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
    <link rel="icon" href="https://www.kt.com/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/contents.css">
</head>
<body>
    <header>
        <nav class="wrap">
            <label><strong>KT</strong></label>
            <!-- ul>li*3>a -->
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="contents.html">Contents</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="contents">
        <section class="wrap">
            <div class="contents-wrap">
                <input type="text" class="input-address" value="신사동" placeholder="Input Address.">
                <button class="search">Search</button>
            </div>
            <div class="contents-wrap table-wrap">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Address</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1234</td>
                            <td>신사동</td>
                            <td>12.34</td>
                            <td>45.65</td>
                            <td>강남구 신사동</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1234</td>
                            <td>신사동</td>
                            <td>12.34</td>
                            <td>45.65</td>
                            <td>강남구 신사동</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <p>All rights reserved. ©KT</p>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js'></script>
    <script src='js/contents.js'></script>
</body>
</html>